<h1>Movies with 10 stars</h1>
<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.title, movie_path(movie) %> rating: <%= movie.rating %>
      <br>
      - directed by: <%= movie.director %>
    </li>
    <br>
    <br>
  <% end %>
</ul>

